@{
    ViewBag.Title = "Home Page";
}

<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <div class="imgOverlay"></div>
            <img style="height:350px; width:100%" src="../Images/img1.png" alt="First slide">
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:350px; width:100%" src="../Images/img2.png" alt="Second slide">

        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:350px; width:100%" src="../Images/img3.png" alt="Third slide">
        </div>
    </div>

    <a class="left carousel-control" href="#themeSlider" data-slide="prev">
        <span class="fa fa-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#themeSlider" data-slide="next">
        <span class="fa fa-chevron-right"></span>
    </a>

</div>
<br />
<br />
<br />

<div class="row" style="width:100%;">

    <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:4em; color:black; text-align:center; color:darkcyan">ABOUT QUICKTRACK</h1>
    <br />
    <br />
    <p style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:1.6em; color:dimgrey; text-align:center">

        <strong>QuickTrack</strong> is an easy to use and very flexible application 
        made for managing your living expenses and money you spend on them.
        It allows you to track your expenses and analyze your financial habits 
        by helping you be more aware of your transactions.
        It enables you to stick to your budget and watch out for yourself 
        by making you more accountable for your spendings 
        and more prone to start saving money efficiently.
    </p>



</div>